@font-face {
	font-family: 'EB Garamond';
	src: url('./resources/fonts/EB_Garamond/EBGaramond-Medium.woff2')
			format('woff2'),
		url('./resources/fonts/EB_Garamond/EBGaramond-Medium.woff')
			format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('./resources/fonts/EB_Garamond/EBGaramond-ExtraBold.woff2')
			format('woff2'),
		url('./resources/fonts/EB_Garamond/EBGaramond-ExtraBold.woff')
			format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('./resources/fonts/EB_Garamond/EBGaramond-Regular.woff2')
			format('woff2'),
		url('./resources/fonts/EB_Garamond/EBGaramond-Regular.woff')
			format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('./resources/fonts/EB_Garamond/EBGaramond-SemiBold.woff2')
			format('woff2'),
		url('./resources/fonts/EB_Garamond/EBGaramond-SemiBold.woff')
			format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('./resources/fonts/EB_Garamond/EBGaramond-Bold.woff2')
			format('woff2'),
		url('./resources/fonts/EB_Garamond/EBGaramond-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
